
/* 채팅 탑 메뉴바 css */
.logowrap {
    left: 0;
    height: 70px;
    width: 250px;
    background-color: #2196f3;
    cursor:pointer;
}
.move-to-main{
    margin-top: 1rem;
}
.sidebar-divider{
    width: 250px;
}
.fa-plus:before {
    content: "\002B"
}

#content-wrapper{
    width: 250px;
    background: #eeeeee;
}
.topic-list-area{
    margin: 10px 10px;
    padding: 15px;
}
.topic-name{
    text : bold;
}
.bg-img{
    position: absolute;
    margin-left: 5px;
    line-height: 30px;
}
.bg-img img{
    width: 30px;
}
.home-name{
    line-height: 30px;
    margin-left: 40px;
}
.topic-icon{
    line-height: 34px;
    margin-left: 40px;
}
.newline {
    border-right: 1px solid #ececec;
}

.newborder {
    border-bottom: 1px solid #ececec;
}
.logo-icon{
    margin: 3px;
}
.logo-back {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.logo-back img {
    width:44px;
}

.chat-img {
    left: 0;
    top: 0;
    width: 80px;
    padding: 12px 10px 9px 14px;
    height: inherit;
    line-height: inherit;
}


.chat-img-bg {
    position: relative;
    text-align: center;
    overflow: hidden;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 33px;
}

.chat-img-bg > div {
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: #2196f3;

}

.chat-img-bg > .fa-comment {
    position: relative;
    font-size: 18px;
    top: 10px;
}

.chat-menu-center {
    vertical-align: middle;
    height: auto;
}

.chat-menu-title {
    position: relative;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    margin-bottom: 8px;
}

.chat-menu-sub {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.chat-menu-sub .label {
    background-color: #dadfeb;
    border-radius: 50px;
}

/* 채팅 탑 메뉴바 css 끝*/

/*채팅 창 css*/

.chat-wrap {
    height: 100%;
}

.container-fluid {
    padding: 0;
    overflow:auto;
}

.chat-send-content {
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    position: absolute;
    left: 0;
    z-index: 50;
}

.chat-send-text {
    width: 60%;
    flex: 7;
    margin-left: 6rem;
    padding: 1rem;
}

.chat-send-button {
    width: 20%;
    flex: 1;
    margin-right: 6rem;
    padding: 1rem;
}

.user-input {
    width: 100%;
    height: 7rem;
}

.send-btn {
    width: 100%;
    height: 100%;
}

#chat-content {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#chat-content > div {
    position: relative;
}

#chat-content .msg {
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}

.message-wrap {
    margin: 0 20px;
}

.message {
    height: 721px;
    text-align: left;
}

.msg-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    float: left;
    margin-right: 20px;
}

.msg-con {
    margin-left: 80px;
}


/*모달 css*/
#invite-create,
#topic-create {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #f8f8f8;
    height: 40px;
}

#invite-create a,
#topic-create a {
    position: absolute;
    display: inline-block;
    line-height: 40px;
    left: 55px;

}

/* 소희 : 멤버초대 모달 화면 디자인 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(139, 133, 133, 0.5);

    display: none;
}

/* 소희 : 멤버초대 모달 화면 디자인 */
.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(139, 133, 133, 0.5);
    display: none;
}

.modal2 > .modal-view2 {
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    /* 가운데 배치 */
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -200px;

}


#membertList {
    position: absolute;
    right: 0;
}

.topic-create-btn {
    color:#666
}
.topic-create-li {
    color:#2196f3
}
.sidebar-brand-text{
    line-height: 70px;
    position: absolute;
    font-size:20px;
    left:86px;
    color:#fff;
}
.topic-out-link{
    color:red;
}
.topic-email-span{
    color:#2196f3;
}
/*모달 css 종료*/
.chat-card{
    width: 20rem;
    height: 15rem;
}